<!DOCTYPE html>
<html>
  <head>
    <title>Taskify</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tasks", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
     <!-- Boxicons CDN -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
